<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        
        <!-- Drawer -->
        <mat-drawer class="w-full sm:w-100 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'" [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">File Manager</div>
                        <div class="flex items-center mt-0.5 font-medium text-secondary">
                            <ng-container *ngIf="!items.path.length">
                             {{items.files.length}} files
                            </ng-container>
                            <!-- Breadcrumbs -->
                            <ng-container *ngIf="items.path.length">
                                <div class="flex items-center space-x-2">
                                    <a class="text-primary cursor-pointer" [routerLink]="['/apps/file-manager']">Home</a>
                                    <div class="">/</div>
                                    <ng-container *ngFor="let path of items.path; let last = last; trackBy: trackByFn">
                                        <ng-container *ngIf="!last">
                                            <a class="text-primary cursor-pointer" [routerLink]="['/apps/file-manager/folders/', path.id]">{{path.name}}</a>
                                        </ng-container>
                                        <ng-container *ngIf="last">
                                            <div>{{path.name}}</div>
                                        </ng-container>
                                        <ng-container *ngIf="!last">
                                            <div class="">/</div>
                                        </ng-container>
                                    </ng-container>
                                </div>





                            </ng-container>
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="mt-4 sm:mt-0">
                        <input type="file" (change)="onFileSelected($event)" class="hidden" #fileInput>
                        <button mat-flat-button color="primary" (click)="fileInput.click()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Upload File</span>
                        </button>
                    </div>
                </div>

                <!-- Progress bar -->
          <!-- Progress bar -->
<div *ngIf="isUploading" class="w-full bg-gray-200 rounded mt-4">
    <mat-progress-bar [value]="uploadProgress" color="primary"></mat-progress-bar>
    <div class="text-xs font-medium text-blue-100 text-center mt-2">{{ uploadProgress }}%</div>
</div>
<fuse-alert *ngIf="successMessage" [type]="'success'" [appearance]="'border'">
    <span fuseAlertTitle>Success</span>
    {{ successMessage }}
</fuse-alert>

<!-- Error Alert -->
<fuse-alert *ngIf="errorMessage" [type]="'error'" [appearance]="'border'">
    <span fuseAlertTitle>Error</span>
    {{ errorMessage }}
</fuse-alert>

                <!-- Items list -->


                <!-- No items template -->
     <!-- Display the table if there are load reports -->
<ng-container *ngIf="loadReports.length > 0; else noItems">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- File Name Column -->
      <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
        <mat-cell *matCellDef="let report"> {{ report.fileName }} </mat-cell>
      </ng-container>
  
      <!-- Load Date Column -->
      <ng-container matColumnDef="loadDate">
        <mat-header-cell *matHeaderCellDef> Load Date </mat-header-cell>
        <mat-cell *matCellDef="let report"> {{ report.loadDate | date: 'short' }} </mat-cell>
      </ng-container>
  
      <!-- Created Count Column -->
      <ng-container matColumnDef="createdCount">
        <mat-header-cell *matHeaderCellDef> Cards Created </mat-header-cell>
        <mat-cell *matCellDef="let report"> {{ report.createdCount }} </mat-cell>
      </ng-container>
  
      <!-- Updated Count Column -->
      <ng-container matColumnDef="updatedCount">
        <mat-header-cell *matHeaderCellDef> Cards Updated </mat-header-cell>
        <mat-cell *matCellDef="let report"> {{ report.updatedCount }} </mat-cell>
      </ng-container>
  
      <!-- Error Details Column -->
      <ng-container matColumnDef="errorDetails">
        <mat-header-cell *matHeaderCellDef> Error Details </mat-header-cell>
        <mat-cell *matCellDef="let report"> {{ report.errorDetails }} </mat-cell>
      </ng-container>
  
      <!-- Table Header and Rows -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>
  
  <!-- Template to show when there are no load reports -->
  <ng-template #noItems>
    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:folder-open'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no items!</div>
    </div>
  </ng-template>
  


            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
