 .bg-card {
    background-color: #ffffff;
  }
  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .min-h-screen {
    min-height: 100vh;
  }
  .p-4 {
    padding: 1rem;
  }
  .sm\\:p-10 {
    padding: 2.5rem;
  }
  .w-full {
    width: 100%;
  }
  .max-w-5xl {
    max-width: 80rem;
  }
  .sm\\:flex-row {
    flex-direction: row;
  }
  .prose {
    font-size: 1rem;
  }
  .prose-sm {
    font-size: 0.875rem;
  }
  .mt-12 {
    margin-top: 3rem;
  }
  .p-8 {
    padding: 2rem;
  }
  .pb-4 {
    padding-bottom: 1rem;
  }
  .rounded-2xl {
    border-radius: 1rem;
  }
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .max-w-md {
    max-width: 28rem;
  }
  .space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
  }
  .w-12 {
    width: 3rem;
  }
  .h-12 {
    height: 3rem;
  }
  .text-center {
    text-align: center;
  }
  .border {
    border-width: 1px;
  }
  .border-gray-300 {
    border-color: #d1d5db;
  }
  .rounded {
    border-radius: 0.25rem;
  }
  .bg-blue-500 {
    background-color: #3b82f6;
  }
  .bg-blue-600:hover {
    background-color: #2563eb;
  }
  .bg-green-500 {
    background-color: #10b981;
  }
  .bg-green-600:hover {
    background-color: #059669;
  }
  .text-white {
    color: #ffffff;
  }
  .focus\\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .focus\\:ring-2:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  }
  .focus\\:ring-blue-500:focus {
    --tw-ring-color: #3b82f6;
  }
  .focus\\:ring-green-500:focus {
    --tw-ring-color: #10b981;
  }
  .focus\\:ring-opacity-50:focus {
    --tw-ring-opacity: 0.5;
  }
  .hover\\:bg-blue-600:hover {
    background-color: #2563eb;
  }
  .hover\\:bg-green-600:hover {
    background-color: #059669;
  }

  .snackbar-success {
    background-color: #4caf50; /* Green */
  }
  
  .snackbar-error {
    background-color: #f44336; /* Red */
  }
  .alert {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .alert-success {
    background-color: #e6f4ea;
    color: #2f7d32;
  }
  
  .alert-warning {
    background-color: #fff4e5;
    color: #a75d00;
  }
  
  .alert-error {
    background-color: #fce8e6;
    color: #c20000;
  }
  
  .alert span {
    margin-left: 0.5rem;
  }
  .flex-90 {
    flex: 0 0 74%;
  }
  
  .flex-5 {
    flex: 0 0 2%;
  }
  
  /* Ensure fields take up full width within their flex containers */
  .mat-form-field {
    width: 100%;
  }
  
  .mat-form-field input {
    width: 100%;
    padding: 0.4rem;
  }